run = "yarn dev -o"
hidden = [".config"]

[nix]
channel = "unstable"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = false

[languages.javascript]
pattern = "**/*.js"
staynx = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]